// ----------------------------------------------------------------------------------------------------
// VARIABLES
// ----------------------------------------------------------------------------------------------------


// ----------------------------------------------------------------------------------------------------
// MIXINS
// ----------------------------------------------------------------------------------------------------

@mixin position-full-screen {
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

// VERT ALIGN MIDDLE
@mixin vert-center-element($spacing: -.35em, $outer-height: 100%, $inner-width: 100%){
  text-align: center;

// ghost element; shifts element to center, -.25em works in the browser but not on iPad
  &:before {
    content: '';
    display: inline-block;
    height: $outer-height;
    vertical-align: middle;
    margin-right: $spacing;
  }

// The element to be centered, can be of any width and height
  > * {
    display: inline-block;
    vertical-align: middle;
    width: $inner-width;
  }
}


// ----------------------------------------------------------------------------------------------------
// CSS RESET - CLEAN SLATE FOR BETTER BROWSER COMPAITBILITY
// ----------------------------------------------------------------------------------------------------
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote,
q {
  &:before,
  &:after {
    content: '';
    content: none;
  }
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// ----------------------------------------------------------------------------------------------------
// GENERAL STYLING
// ----------------------------------------------------------------------------------------------------


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: url("../images/textured_paper/blurred-textured_paper.png");
  font: 400 14px 'Open Sans', Helvetica, arial, sans-serif;
  text-align: center;
}

abbr {
  cursor: help;
}

dl {
  font-size: 12px;
  text-align: left;

  dt, dd {
    float: left;
  }

  dt {
    clear: left;
    font-weight: 700;
    margin-top: 6px;
    padding-right: 8px;
    width: 28%;

    &::after {
      content: ":";
    }

    + dd {
      margin-top: 6px;
    }
  }

  dd {
    border-left: 1px solid rgba(0,0,0,.15);
    padding-left: 6px;
    width: 72%;
  }
}

p + p {
  margin: .5em 0;
}

.italic {
  font-style: italic;
}

#page-wrap {
  @include vert-center-element();
  @include position-full-screen;

  td:first-child .thumb {
    margin-left: 125px;
  }

  td:last-child .thumb {
    margin-right: 125px;
  }

  h1 {
    font-size: 2.5em;
    line-height: 1em;
    margin: 0 0 0.25em 0;
    text-shadow: 1px 1px 0 rgba(255,255,255,.5);
  }
}

.abilities {
  margin-bottom: 2em;
}

.thumb {
  height: 478px;
  margin: 0 0 0 150px;
  position:relative;
  width: 320px;

  .img-wrap {
    background: url('../images/textured_paper/textured_paper.png');
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;

    img {
      width: 100%;
    }
  }

  .thumb-detail {
    background: url('../images/card-back.png');
    background-size: 100%;
    display: block;
    height: 100%;
    padding: 5%;
    position: absolute;
    text-align: left;
    width: 100%;
  }
}

.thumb-wrapper {
  border: 2px solid #000;
  display: block;
  width: 100%;
  height: 100%;

  -webkit-box-shadow: 0 0 20px rgba(0,0,0,.75);
  -moz-box-shadow: 0 0 20px rgba(0,0,0,.75);
  box-shadow: 0 0 20px rgba(0,0,0,.75);
}

/*
* Without CSS3
*/
.thumb.scroll {
  overflow: hidden;
}

.thumb.scroll .thumb-detail {
  bottom:-280px;
}


/*
* CSS3 Flip
*/
.thumb.flip {
  -webkit-perspective:800px;
  -moz-perspective:800px;
  -ms-perspective:800px;
  -o-perspective:800px;
  perspective:800px;

  .thumb-wrapper {
    -webkit-transition: -webkit-transform 1.5s;
    -moz-transition: -moz-transform 1.5s;
    -ms-transition: -moz-transform 1.5s;
    -o-transition: -moz-transform 1.5s;
    transition: -moz-transform 1.5s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .thumb-detail {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }

  .img-wrap,
  .thumb-detail {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .flipIt {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
}





// ----------------------------------------------------------------------------------------------------
// MEDIA QUERIES
// ----------------------------------------------------------------------------------------------------

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

  body {
    background: url("../images/textured_paper/blurred-textured_paper_@2X.png")
  }

}